@import "../base/base";
@import "../themes/variables";

.App{
    @include getBackground();
    width: 100%;
    height: 100vh;
    .wrapper{
        display: flex;
        
        .profile{
            width: 100%;
            background-color: white;    
            height: 100vh;
            
            .title{
                @include includeTitle();
            }
            .userInfoWrapper{
                padding: 20px;
                margin-left: 20px;
                border: 2px solid gray;
                border-radius: 10px;
            }
            .itemF{
                margin: 0 50px;
            }
        }

    }

    
}